@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-color-primary text-white tracking-wider;
  }
  section {
    @apply pt-10 pb-4 md:pt-20;
  }
}

@layer components {
  .btn {
    @apply text-white bg-color-secondary hover:opacity-80 ease-in duration-200 focus:ring-4 focus:ring-white font-bold rounded-lg text-base px-9 py-3 focus:outline-none inline-flex capitalize;
  }
  .blob1 {
    @apply w-80 h-80 bg-color-blob absolute top-0 left-5 rounded-full blur-2xl -z-10 opacity-30 overflow-hidden;
  }
  .blob2 {
    @apply w-80 h-80 bg-color-secondary absolute bottom-0 right-5 rounded-full blur-2xl -z-10 opacity-30 overflow-hidden;
  }
}

@layer utilities {
  .heading-title {
    @apply text-3xl capitalize md:text-4xl font-bold;
  }
}
